.topnav {
    background-color: #e9e9e9;
    padding: 0 3.0em;
    height: 125px;
}

#search {
    position: relative;
    text-align: center;   
}

.topnav li {
    display: inline;
    cursor: pointer;
    float: right;
    margin: 5px;
    padding: 5px;
    border-radius: 7px;
    background-color: rgba(64,54,47,0.8);
    position: relative;
    bottom: 5em;    
}


body {
    margin: 0;
}

h1 {
    font-family: "Times New Roman", Times, serif;
    color: rgb(212, 88, 181);
    font-size: 4em;
    letter-spacing: -0.025em;
    margin: 0; 
}
h2 {
    font-weight: 300;
    font-size: 2em;
    color: #2BA967;
    margin: -0.4em 0 0 1.0em;
    letter-spacing: 0.05em;
}

.head {
    background-color: rgb(159, 240, 213);
}

.cov {
    background: url(./Asset/Cover\ front.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 40em;
    opacity: 0.;
}

#hook {
    color: black;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 35%;
    background-color: rgba(248, 247, 216, 0.479);
    padding: 60px;
}

.QUALITY {
    color: whitesmoke;
    font-family: 300px;
    font-size: 1.5em;
}
.shop {
    border: 2px solid black;
    cursor: pointer;
}
.foot {
    background-color: bisque;
    height: 60px;
    padding: 10px;
    margin: 2px;
}

/*sample*/

.card {
   display: inline-block;
   position: relative;
   padding: 20px;
   text-align: center;
}

.abaya {
    width: 200px;
    height: 200px;
}

.count {
    position: relative;
    width: 150px;
    height: 30px;
    bottom: 15em;
}

button {
    background-color: #86daf7;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #aedae9;
}

.Add {
    font-size: small;
    padding: 5px;
    border-radius: 5px;
}

.foot li {
    display: inline;
    text-align: center;
    position: relative;
    padding-right: 30px;
    cursor: pointer;
    float: right;
    bottom: 2em;
}

.back {
   text-align: center;
   position: relative;
   top: 20px;
}
